@import 'reset.css';

#canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.btn {
  position: absolute;
  right: 40%;
  bottom: 50px;
  /* padding: 20px; */
  border-radius: 60px;
  background-color: #A65955;
  z-index: 2;
  box-shadow: 0 0 10px rgba(103, 128, 122, 15);
}

.btn:hover {
  background-color: #67807A;
  box-shadow: 0 0 10px rgba(231, 74, 86,15);
}
